<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(link)">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title></title>
    <meta name="author" th:content="小柒2012" />
    <meta name="site" content="https://blog.52itstyle.vip" />
    <link rel="stylesheet" th:href="@{/css/oksub.css}">
    <link rel="stylesheet" th:href="@{/lib/iview/styles/iview.css}">
    <!---tree--->
	<link th:if="${#strings.contains(link,'tree')}"
          rel="stylesheet" th:href="@{/lib/ztree/css/metroStyle/metroStyle.css}">
    <!---awesome--->
    <link th:if="${#strings.contains(link,'awesome')}"
          rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    <!---codemirror--->
    <link th:if="${#strings.contains(link,'codemirror')}"
          rel="stylesheet" th:href="@{/lib/codemirror/lib/codemirror.css}">
    <link th:if="${#strings.contains(link,'codemirror')}"
          rel="stylesheet" th:href="@{/lib/codemirror/theme/seti.css}">
    <link th:if="${#strings.contains(link,'codemirror')}"
          rel="stylesheet" th:href="@{/lib/codemirror/addon/hint/show-hint.css}">


    <style type="text/css">
        [v-cloak] {
          display: none;
        }
    </style>
</head>
</html>